{% extends 'portfolio/layout.html' %}

{% block content %}
<div class="container" style="color: var(--text-color); display: flex; flex-direction: column; gap: 40px; align-items: center; padding: 20px;">
    <div style="width: 70%; border: 2px solid #364dce; padding: 12px; border-radius: 8px;">
        <h1>Sobre Mim</h1>
        <p>Olá, sou o Ricardo Piedade, um estudante de Engenharia Informática de 20 anos com uma paixão pela programação. Tenho experiência em várias linguagens de programação, tendo como mais importantes, Javascript, Java e C#.</p>
        <p>Descobri o que queria ser definitivamente no oitavo ano, ano em que a minha paixão pela programação começou a crescer exponencialmente. Sou alguém que aprende rápido e tenta sempre ajudar os outros.</p>
    </div>

    <div style="width: 70%; border: 2px solid #364dce; padding: 12px; border-radius: 8px;">
        <h2>Interesses</h2>
        <ul>
            <li><i class="fas fa-check icon"></i>Programação Web.</li>
            <li><i class="fas fa-check icon"></i>Programação Web com React.</li>
            <li><i class="fas fa-check icon"></i>Programação para dispositivos móveis com React Native.</li>
            <li><i class="fas fa-check icon"></i>Algoritmos em Java.</li>
            <li><i class="fas fa-check icon"></i>Fora do mundo da programação, tudo o que me faça rir, nem que seja pouco.</li>
        </ul>
    </div>

    <div style="width: 70%; border: 2px solid #364dce; padding: 12px; border-radius: 8px;">
        <h2>Competências</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Java</li>
            <li>C</li>
            <li>Python</li>
            <li>C++</li>
            <li>C#</li>
            <li>Kotlin</li>
            <li>React</li>
            <li>React Native</li>
        </ul>
    </div>

    <div style="width: 70%; border: 2px solid #364dce; padding: 12px; border-radius: 8px;">
        <h2>Educação</h2>
        <p><strong>Universidade Lusófona, Lisboa</strong></p>
        <p>Licenciatura em Engenharia Informática</p>
        <p><strong>Duração:</strong> 3 anos</p>
        <p><strong>ECTS:</strong> 180</p>
    </div>
</div>
{% endblock %}