{% extends 'portfolio/layout.html' %}
{% load static %}
{% block content %}
<div class="container" style="color: var(--text-color); display: flex; flex-direction: column; gap: 40px; align-items: center; padding: 20px;">
    <div style="width: 70%; border: 2px solid #364dce; padding: 12px; border-radius: 8px;">
         <h1>Tecnologias usadas para criar o Website</h1>
         <ul>
             <li>HTML</li>
             <li>CSS</li>
             <li>Javascript</li>
             <li>Python</li>
             <li>Django</li>
             <li>Git</li>
         </ul>
    </div>

    <div style="width: 70%; border: 2px solid #364dce; padding: 12px; border-radius: 8px;">
        <h1>Video Guide</h1>
        <video style="width: 100%; margin-top: 20px;" controls>
            <source src="{% static 'portfolio/guide.mp4' %}" type="video/mp4">
        </video>
    </div>
</div>
{% endblock %}