<!DOCTYPE html>

<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

        {% load static %}
        <link rel="stylesheet" href="{% static 'portfolio/style.css' %}">

        <title>Aplicação - Bandas</title>

        <style>
            .errorlist {
                display: none;
            }
        </style>
    </head>

    <body>
        <header>
            <a href="{% url 'bandas:lista_bandas' %}">
                <span id="logo">Bandas</span>
            </a>

            {% if request.user.is_authenticated %}
                <div id="username-logout">
                    <span id="username">Username: {{ request.user.username }}</span>
                    <a href="{% url 'portfolio:logout' %}"><button>Log Out</button></a>

                    <button id="theme-toggle"><i id="icon-theme" class="fa-solid fa-moon"></i></button>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'portfolio:signup' %}"><button>Sign In</button></a>
                    <a href="{% url 'portfolio:login' %}"><button>Log In</button></a>

                    <button id="theme-toggle"><i id="icon-theme" class="fa-solid fa-moon"></i></button>
                </div>
            {% endif %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <script src="https://kit.fontawesome.com/90d057b0eb.js" crossorigin="anonymous"></script>
        <script src="{% static 'portfolio/script.js' %}"></script>
    </body>
</html>