<!DOCTYPE html>

<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Programação Web</title>
        <style>
            body {
                background: blue;
                color: white;
            }
        </style>
    </head>

    <body>
        <header>
            <h1>Programação Web</h1>
        </header>

        <main>
            <h2>Construindo o Futuro da Web</h2>
            <p>Neste curso, exploraremos diversas tecnologias essenciais para o desenvolvimento web moderno:</p>
            <ul>
                <li><strong>Python e Django:</strong> Utilizados para construir aplicações web robustas e escaláveis, para perfecionistas com prazos.</li>
                <li><strong>HTML, CSS e JavaScript:</strong> Essenciais para criar a estrutura, estilo e interatividade das páginas web.</li>
            </ul>
            <p>Vamos mergulhar a fundo nestas tecnologias e aprender a criar experiências incríveis na web!</p>
        </main>

        <footer>
            <p>&copy; {{ ano }} Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
        </footer>
    </body>
</html>