<!DOCTYPE html>

<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Programação Web</title>
    </head>

    <body>
        <header>
            <h1>Programação Web</h1>
        </header>

        <main>
          <h2>Descrição</h2>
          <p>A disciplina de Programação Web na Universidade Lusófona é oferecida aos estudantes dos cursos de Engenharia Informática e Informática de Gestão no 2º ano e segundo semestre.</p>
          <p>Neste curso, os alunos mergulham nas tecnologias e conceitos fundamentais para o desenvolvimento de aplicações web modernas e escaláveis.</p>

          <h2>Conteúdo</h2>
          <p>Os alunos aprenderão a utilizar linguagens como HTML, CSS e JavaScript para criar interfaces de usuário interativas e responsivas.</p>
          <p>Também serão introduzidos aos frameworks de desenvolvimento web, como Django, que facilitam a construção de aplicações web robustas e eficientes.</p>

          <h2>Objetivos de Aprendizagem</h2>
          <p>O principal objetivo desta disciplina é capacitar os alunos com as habilidades necessárias para projetar, desenvolver e implantar aplicações web funcionais e esteticamente atraentes.</p>
          <p>Além disso, os alunos serão incentivados a explorar as melhores práticas de desenvolvimento web, bem como a importância da acessibilidade, usabilidade e segurança na criação de websites e aplicações.</p>
        </main>

        <footer>
            <p>&copy; {{ ano }} Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
        </footer>
    </body>
</html>